<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         bootstrap="Bootstrap.php"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="true"
         strict="false"
         verbose="true">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../York</directory>
            <directory suffix=".php">../../York</directory>
            <exclude>
                <directory>../../ibrary/*/tests</directory>
                <directory>../../library/vendor</directory>
                <directory>../../Library/York/Coverage</directory>
                <directory>Coverage</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="zend.enable_gc" value="1" />
    </php>
</phpunit>
